snippet iife
	(function(){
		"use strict"; 
		${1}
	})();

snippet req
	const ${1} = require('${2}');


snippet pubf
	function (${1}) {
		${2}
	}

snippet privf
	function (${1}) {
		${2}
	}
	
snippet c.l
	console.log(${1});
